<h1>Bienvenido/a {{user.first_name}} {{user.last_name}}</h1>
<p>Correo electrónico: {{user.email}}</p>
<p>Rol: {{user.role}} </p>
<h2>Lista de Productos</h2>

<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>Categoría</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
    <tr>
      <td>{{this.title}}</td>
      <td>{{this.description}}</td>
      <td>{{this.price}}</td>
      <td>{{this.category}}</td>
      <td><a href="/products/{{this._id}}">Ver Detalles</a></td>
      <td>
        <button onclick="addProductToCart('{{this._id}}')">Agregar al Carrito</button>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
  <div>
    {{#if hasPrevPage}}
      <a href="{{prevLink}}">Anterior</a>
    {{/if}}
    |
    {{#if hasNextPage}}
      <a href="{{nextLink}}">Siguiente</a>
    {{/if}}
  </div>

<script>
  addProductToCart = (pid) => {
    const userCartId = '{{user.cart}}';
    fetch(`/api/carts/${userCartId}/products/${pid}`, {
      method: "post"
    })
      .then (result => result.json())
      .then (result => {
        if(result.status === 'error') throw new Error(result.error)
        alert(`Ok. Todo salió bien! :)\nEl producto se agregó al carrito!`)
    })
    .catch(err => alert (`Ocurrió un error :(\n${err}`))
  }
</script>

